<table>
  <thead>
    <th>Artist name</th>
    <th>Total statement income (artist share + label share)</th>
    <th>Total artist share</th>
    <th>Total label share</th>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td><%= artist[:name] %></td>
      <td><%= artist[:full_sum] %></td>
      <td><%= artist[:artist_sum] %></td>
      <td><%= artist[:label_sum] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
